.information {
    padding: 4rem;
    background: rgb(235, 235, 235);
}

h1 {
  text-align: center;
  font-size: 30px;
}

.paragraph {
  font-size: 1.6rem;
  margin-top: 3rem;
  font-family: Caviar Dream;
  
  
}

@media screen and (max-width: 960px) {
    h1 {
      
      font-size: 22px;
         font-family: 'Saira Stencil One', cursive;
    
    } 

    .paragraph {
      font-size: 1.3rem;
    }
  }

 @media screen and (max-width: 768px) {
    h1 {
      
      font-size: 20px;
    
    } 

    .paragraph {
      font-size: 1.2rem;
    }
  }
